# AlgoritmIA Backend Configuration

PORT=3848

# Soporta múltiples llaves separadas por comas para rotación automática si se agota la cuota.
# Agrega tantas como quieras: KEY1,KEY2,KEY3...
YOUTUBE_API_KEYS=TU_API_KEY_AQUI
